resources/1_21_5/assets/minecraft/textures/entity/cow/brown_mooshroom.png
resources/1_21_5/assets/minecraft/textures/entity/cow/red_mooshroom.png
resources/assets/minecraft/textures/entity/bat.png
resources/assets/minecraft/textures/entity/blaze.png
resources/assets/minecraft/textures/entity/chicken.png
resources/assets/minecraft/textures/entity/minecart.png
resources/assets/minecraft/textures/entity/phantom_eyes.png
resources/assets/minecraft/textures/entity/phantom.png
resources/assets/minecraft/textures/entity/spider_eyes.png
resources/assets/minecraft/textures/entity/spider_eyes2.png
resources/assets/minecraft/textures/entity/spider_eyes3.png
resources/assets/minecraft/textures/entity/temperate_chicken.png
resources/assets/minecraft/textures/entity/boat/acacia.png
resources/assets/minecraft/textures/entity/boat/bamboo.png
resources/assets/minecraft/textures/entity/boat/birch.png
resources/assets/minecraft/textures/entity/boat/cherry.png
resources/assets/minecraft/textures/entity/boat/dark_oak.png
resources/assets/minecraft/textures/entity/boat/jungle.png
resources/assets/minecraft/textures/entity/boat/mangrove.png
resources/assets/minecraft/textures/entity/boat/oak.png
resources/assets/minecraft/textures/entity/boat/spruce.png
resources/assets/minecraft/textures/entity/chest_boat/acacia.png
resources/assets/minecraft/textures/entity/chest_boat/bamboo.png
resources/assets/minecraft/textures/entity/chest_boat/birch.png
resources/assets/minecraft/textures/entity/chest_boat/cherry.png
resources/assets/minecraft/textures/entity/chest_boat/dark_oak.png
resources/assets/minecraft/textures/entity/chest_boat/jungle.png
resources/assets/minecraft/textures/entity/chest_boat/mangrove.png
resources/assets/minecraft/textures/entity/chest_boat/oak.png
resources/assets/minecraft/textures/entity/chest_boat/spruce.png
resources/assets/minecraft/textures/entity/cow/brown_mooshroom.png
resources/assets/minecraft/textures/entity/cow/cow.png
resources/assets/minecraft/textures/entity/cow/red_mooshroom.png
resources/assets/minecraft/textures/entity/cow/temperate_cow.png
resources/assets/minecraft/textures/entity/enderdragon/dragon_exploding.png
resources/assets/minecraft/textures/entity/enderdragon/dragon_eyes.png
resources/assets/minecraft/textures/entity/enderdragon/dragon.png
resources/assets/minecraft/textures/entity/enderman/enderman_eyes.png
resources/assets/minecraft/textures/entity/enderman/enderman.png
resources/assets/minecraft/textures/entity/ghast/ghast_shooting.png
resources/assets/minecraft/textures/entity/ghast/ghast.png
resources/assets/minecraft/textures/entity/illager/evoker.png
resources/assets/minecraft/textures/entity/illager/vex_charging.png
resources/assets/minecraft/textures/entity/illager/vex.png
resources/assets/minecraft/textures/entity/illager/vindicator.png
resources/assets/minecraft/textures/entity/llama/brown.png
resources/assets/minecraft/textures/entity/llama/creamy.png
resources/assets/minecraft/textures/entity/llama/gray.png
resources/assets/minecraft/textures/entity/llama/spit.png
resources/assets/minecraft/textures/entity/llama/white.png
resources/assets/minecraft/textures/entity/parrot/parrot_blue.png
resources/assets/minecraft/textures/entity/parrot/parrot_green.png
resources/assets/minecraft/textures/entity/parrot/parrot_grey.png
resources/assets/minecraft/textures/entity/parrot/parrot_red_blue.png
resources/assets/minecraft/textures/entity/parrot/parrot_yellow_blue.png
resources/assets/minecraft/textures/entity/pig/pig_saddle.png
resources/assets/minecraft/textures/entity/pig/pig.png
resources/assets/minecraft/textures/entity/pig/temperate_pig.png
resources/assets/minecraft/textures/entity/rabbit/black.png
resources/assets/minecraft/textures/entity/rabbit/brown.png
resources/assets/minecraft/textures/entity/rabbit/gold.png
resources/assets/minecraft/textures/entity/rabbit/salt.png
resources/assets/minecraft/textures/entity/rabbit/toast.png
resources/assets/minecraft/textures/entity/rabbit/white_splotched.png
resources/assets/minecraft/textures/entity/rabbit/white.png
resources/assets/minecraft/textures/entity/sheep/sheep_fur.png
resources/assets/minecraft/textures/entity/sheep/sheep_wool_undercoat.png
resources/assets/minecraft/textures/entity/sheep/sheep_wool.png
resources/assets/minecraft/textures/entity/sheep/sheep.png
resources/assets/minecraft/textures/entity/skeleton/skeleton.png
resources/assets/minecraft/textures/entity/skeleton/stray_overlay.png
resources/assets/minecraft/textures/entity/skeleton/stray.png
resources/assets/minecraft/textures/entity/skeleton/wither_skeleton.png
resources/assets/minecraft/textures/entity/spider/cave_spider.png
resources/assets/minecraft/textures/entity/spider/cave_spider2.png
resources/assets/minecraft/textures/entity/spider/spider.png
resources/assets/minecraft/textures/entity/spider/spider3.png
resources/assets/minecraft/textures/entity/villager/villager.png
resources/assets/minecraft/textures/entity/zombie/drowned_outer_layer.png
resources/assets/minecraft/textures/entity/zombie/drowned.png
resources/assets/minecraft/textures/entity/zombie/husk.png
resources/assets/minecraft/textures/entity/zombie/zombie_villager.png
resources/assets/minecraft/textures/entity/zombie/zombie.png
