resources/assets/minecraft/textures/gui/title/background/panorama_0.png
resources/assets/minecraft/textures/gui/title/background/panorama_1.png
resources/assets/minecraft/textures/gui/title/background/panorama_2.png
resources/assets/minecraft/textures/gui/title/background/panorama_3.png
resources/assets/minecraft/textures/gui/title/background/panorama_4.png
resources/assets/minecraft/textures/gui/title/background/panorama_5.png
resources/assets/minecraft/sounds/music/lbp_01-davidpoore-introduction.ogg
resources/assets/minecraft/sounds/music/lbp_02-winifredphillips-thepod.ogg
resources/assets/minecraft/sounds/music/lbp_03-paulthomson-newtonstheme.ogg
resources/assets/minecraft/sounds/music/lbp_04-winifredphillips-stichemmanor.ogg
resources/assets/minecraft/sounds/music/lbp_06-smithhenson-manglewoodtheme.ogg
resources/assets/minecraft/sounds/music/lbp_07-emperormachine-pinballoftheundead.ogg
resources/assets/minecraft/sounds/music/lbp_09-jimfowler-swampceremony.ogg
resources/assets/minecraft/sounds/music/lbp_12-ugress-steampunkd.ogg
resources/assets/minecraft/sounds/music/lbp_13-brian-doliveira-bunkumlagoontheme.ogg
resources/assets/minecraft/sounds/music/lbp_14-paulthomson-herotheme.ogg
resources/assets/minecraft/sounds/music/lbp_17-smoothmcgroove-secretgardens.ogg
resources/assets/minecraft/sounds/music/lbp_discontinued_by_kenneth_young.ogg
resources/assets/minecraft/sounds/music/lbp_meanies_theme_imusic_by_paul_thomson.ogg
resources/assets/minecraft/sounds/music/lbp_new_delhi_dawn_by_kenneth_young.ogg
resources/assets/minecraft/sounds/music/lbp_saregama_sun_by_kenneth_young.ogg
resources/assets/minecraft/sounds/music/lbp_thegoteam_getittogether.ogg
resources/assets/legacy/ui_definitions/global_leaderboards_screen_480.json
